<div class="block block-inverse app-footer">
 <div class="container">
    <div class="row">
      <div class="col-md-5 mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase">About</h6></li>
          <li class="text-muted">
             BrainIAK is the result of an ongoing collaboration among the Parallel Computing Lab at Intel, the Princeton Neuroscience Institute, and other institutions. All parties maintain a firm commitment to community-developed open-source software. <br><a href="/docs/#citing">Citing BrainIAK</a>.
          </li>
          <li><br></li>
          <li>Copyright © 2017 Intel Corporation and Princeton University. All Rights Reserved.</li>
        </ul>
      </div>
      <div class="col-md-2 ml-auto mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase">Analyses</h6></li>
          <li class="text-muted">Full correlation matrix analysis</li>
          <li class="text-muted">Multi-voxel pattern analysis</li>
          <li class="text-muted">Shared response modeling</li>
          <li class="text-muted">Topographic factor analysis</li>
          <li class="text-muted">Representational similarity analysis</li>
        </ul>
      </div>
      <div class="col-md-2 mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase">Events</h6></li>
          <li class="text-muted">Neuroscience 2017</li>
          <li class="text-muted">rtFIN 2017</li>
        </ul>
      </div>
      <div class="col-md-2 mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase">Legal</h6></li>
          <li class="text-muted">Terms</li>
          <li class="text-muted">Privacy</li>
          <li class="text-muted">License</li>
        </ul>
      </div>
    </div>
  </div>
</div>
