<div class="block block-inverse app-footer">
 <div class="container">
    <div class="row">
      <div class="col-md-5 mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase">About</h6></li>
          <li class="text-muted">
             BrainIAK is the result of an ongoing collaboration among the Parallel Computing Lab at Intel, the Princeton Neuroscience Institute, and other institutions. All parties maintain a firm commitment to community-developed open-source software.
          </li>
          <li><br></li>
          <li>Copyright © 2017 Intel Corporation and Princeton University. All Rights Reserved.</li>
        </ul>
      </div>
      <div class="col-md-2 ml-auto mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase">Links</h6></li>
          <li class="text-muted"><a href="/">Home</a></li>
          <li class="text-muted"><a href="/#analyses">Analyses</a></li>
          <li class="text-muted"><a href="/pubs">Publications</a></li>
          <li class="text-muted"><a href="/events">Events</a></li>
          <li class="text-muted"><a href="/docs">Docs</a></li>
          <li class="text-muted"><a href="https://github.com/brainiak/brainiak">GitHub</a></li>
        </ul>
      </div>
      <div class="col-md-2 mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase">Support</h6></li>
          <li class="text-muted"><a href="mailto:brainiak@googlegroups.com">Email</a></li>
          <li class="text-muted"><a href="https://gitter.im/brainiak/brainiak">Gitter</a></li>
          <li class="text-muted"><a href="https://github.com/brainiak/brainiak/issues">GitHub Issues</a></li>
          <li class="text-muted"><a href="/docs/#support">Help</a></li>
        </ul>
      </div>
      <div class="col-md-2 mb-5">
        <ul class="list-unstyled list-spaced">
          <li class="mb-2"><h6 class="text-uppercase">Legal</h6></li>
          <li class="text-muted"><a href="https://github.com/brainiak/brainiak/blob/master/LICENSE">License</a></li>
          <li class="text-muted"><a href="/docs/#citing">Citation</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
