<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <ul class="list-inline">
                    <li>
                        <a href="#home">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                      <a href="https://github.com/IntelPNI/brainiak">Installation</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                      <a href="https://github.com/IntelPNI/brainiak/tree/master/examples">Tutorials</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                      <a href="https://github.com/IntelPNI/brainiak/tree/master/brainiak">Analyses</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="http://pythonhosted.org/brainiak/">API Documentation</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">{{ site.copyright }}</p>
            </div>
            <!-- <div class="col-md-4">
                {{ site.credits }}
            </div> -->
        </div>
    </div>
</footer>
