<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="keywords" content="">
   <meta name="author" content="">

   <title>{{ site.title }}</title>
   <link rel="shortcut icon" href="assets/img/favicon.ico?" type="image/x-icon">
   <link rel="icon" href="assets/img/favicon.ico?" type="image/x-icon">
   <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic|Work+Sans:300,400,500,600' rel='stylesheet' type='text/css'>

   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-dark.min.css" type="text/css">

   <link href="assets/css/toolkit.css" rel="stylesheet" type="text/css">
   <link href="assets/css/application.css" rel="stylesheet" type="text/css">
   <style type="text/css">
 /* note: this is a hack for ios iframe for bootstrap themes shopify page */
    /* this chunk of css is not part of the toolkit :) */
    /* ⬦curses ios, etc⬦ */
    @media (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
      body {
        width: 1px;
        min-width: 100%;
        *width: 100%;
      }
      #stage {
        height: 1px;
        overflow: auto;
        min-height: 100vh;
        -webkit-overflow-scrolling: touch;
      }
    }
   </style>
</head>
