<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">

<html>
<head>
  <title>
  </title>
</head>

<body>
  <div class="block block-secondary app-about-block" id="about">
    <div class="container">
      <div class="row app-align-center">
        <div class="col-sm-5 d-none d-md-block">
          <div class="row d-md-flex app-about-logo-container">
            <div class="col-sm-6 mb-3">
              <img class="app-about-logo" src="assets/img/intel.svg"> <!-- <h5>Data frequency</h5> -->
               <!-- <p>We poll for data on a millisecond basis. You can react to new information in seconds rather than days. <a href="#" class="text-primary">Learn more.</a></p> -->
            </div>


            <div class="col-sm-6">
              <img class="app-about-logo" src="assets/img/pni.svg"> <!-- <h5>Reliability &amp; uptime</h5> -->
               <!-- <p>We process our data across a massively distributed network of reliable servers to ensure 99.99% uptime, always. <a href="#" class="text-primary">Learn more</a>.</p> -->
            </div>
          </div>
          <img class="app-about" src="assets/img/brain2.svg" style="width: 100%;">
        </div>


        <div class="col-md-6 col-sm-12 ml-auto">
          <h6 class="text-muted text-uppercase">About</h6>


          <h2>Open-source Python software</h2>


          <p class="lead">BrainIAK applies advanced machine learning methods and high-performance computing to analyzing neuroimaging data. It is tightly integrated with SciKit-Learn, and includes modules for Full Correlation Matrix Analysis (FCMA), Multi-voxel Pattern Analysis (MVPA), a suite of methods for Shared Response Modeling (SRM), Topographic Factor Analysis (TFA), Bayesian-derived methods for Representational Similarity Analysis (RSA), and more.</p>

          <br>
          <div class="row">
            <div class="col-sm-6">
              <a href="/docs"><button class="btn btn-primary btn-lg">Read the docs</button></a>
            </div>


            <div class="col-sm-6">
              <a href="#"><button class="btn btn-primary btn-lg">Take the course</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
