<div class="block block-secondary app-about-block" id="about">
 <div class="container">
   <div class="row app-align-center">
     <div class="col-sm-5 d-none d-md-block">
       <div class="row app-about-logo-container">
       <!-- <img class="app-about" src="assets/img/brain2.svg" style="width: 100%;"> -->
         <div class="col-sm-6">
           <img class="app-about-logo" src="assets/img/intel.svg"> 
         </div>


         <div class="col-sm-6">
           <img class="app-about-logo" src="assets/img/pni.svg"> <!-- <h5>Reliability &amp; uptime</h5> -->
            <!-- <p>We process our data across a massively distributed network of reliable servers to ensure 99.99% uptime, always. <a href="#" class="text-primary">Learn more</a>.</p> -->
         </div>
       </div>
     </div>


     <div class="col-md-6 col-sm-12 ml-auto">
       <h6 class="text-muted text-uppercase">About</h6>


       <h2>Open-source Python software</h2>


       <p class="lead">BrainIAK applies advanced machine learning methods and high-performance computing to analyzing neuroimaging data. It is tightly integrated with SciKit-Learn, and includes modules for Full Correlation Matrix Analysis (FCMA), Multi-voxel Pattern Analysis (MVPA), a suite of methods for Shared Response Modeling (SRM), Topographic Factor Analysis (TFA), Bayesian-derived methods for Representational Similarity Analysis (RSA), and more.</p>

       <a href="/docs"><button class="btn btn-primary btn-lg">Read the docs</button></a>
       <button class="btn btn-primary btn-lg disabled">Course coming soon!</button>
     </div>
   </div>
 </div>
</div>
