<div class="block block-secondary app-price-plans app-block-analyses-grid" id="analyses">
  <div class="container text-xs-center">

    <div class="row mb-5 justify-content-center">
      <div class="col-10 col-sm-8 col-lg-6">
        <h6 class="text-muted text-uppercase mb-2">Analyses</h6>
        <h2 class="mb-4">Supported BrainIAK modules</h2>
      </div>
    </div>

    <div class="row app-analyses-grid">
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="assets/img/startup-9.svg">
        <p><strong>FCMA</strong>: Full correlation matrix analysis.</p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="assets/img/startup-10.svg">
        <p><strong>MVPA</strong>: Multi-voxel pattern analysis.</p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="assets/img/startup-11.svg">
        <p><strong>SRM</strong>: A suite of methods for Shared Response Modeling.</p>
      </div>
    </div>

    <div class="row app-analyses-grid">
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="assets/img/startup-12.svg">
        <p><strong>TFA</strong>: Topographic factor analysis.</p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="assets/img/startup-13.svg">
        <p><strong>RSA</strong>: Bayesian-derived methods for Representational Similarity Analysis</p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="assets/img/startup-14.svg">
        <p><strong>And more!</strong></p>
      </div>
    </div>
  </div>
</div>
