<div class="block block-inverse block-secondary app-code-block">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-md-6 order-2 order-md-1">
        <h6 class="text-muted text-uppercase">Easy development</h6>
        <h2>Natural language queries make mining data easy for anyone.</h2>
        <p class="lead mb-4 text-muted">Rather than force everyone at your company to learn incredibly difficult terminal commands, we allow anyone to query the data with natural language to return data.</p>
        <button class="btn btn-secondary btn-lg btn-borderless">
          Read our docs
        </button>
      </div>
      <div class="col-md-5 ml-auto order-1 order-md-2">
        <pre class="app-code"><code class="bash"> #!/usr/bin/env bash
 pip install brainiak
 
 asdf
 asdf
 asdf
 asdf
 asdf
 asdf
 asdf

 echo blah</code></pre>
      </div>
    </div>
  </div>
</div>
