<div class="block block-inverse block-fill-height app-header"
     style="background-image: url(assets/img/brain-hero.jpg);">

  {% include nav.html %}

  <div class="block-xs-middle pb-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-lg-6">
          <h1 class="block-titleData frequency">Brain Imaging Analysis Kit</h1>
          <p class="lead mb-4 text-muted">Advanced fMRI analyses in Python, optimized for speed under the hood with MPI, Cython, and C++.</p>
          <a href="#about"><button class="btn btn-primary btn-lg">Learn more</button></a>
          <a href="#get-started"><button class="btn btn-primary btn-lg">Get started</button></a>
        </div>
      </div>
    </div>
  </div>
</div>
