<div class="block block-inverse block-fill-height app-header"
     style="background-image: url(assets/img/startup-1.jpg);">

  <img class="app-graph"  src="assets/img/startup-0.svg">

  <div class="block-xs-middle pb-5">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-lg-6">
          <h1 class="block-titleData frequency">Analytics on demand.</h1>
          <p class="lead mb-4 text-muted">Stop installing bloated scripts that all track the exact same things. Install one that does everything.</p>
          <button class="btn btn-primary btn-lg">Try it now</button>
        </div>
      </div>
    </div>
  </div>
</div>
