<div class="block block-inverse app-high-praise"
     style="background-image: url(assets/img/startup-3.jpg);">
    <div class="container">
      <div class="row app-align-center py-3 justify-content-end">
        <div class="col-sm-7 col-md-5 py-5">
          <h6 class="text-muted text-uppercase mb-2">High Praise</h6>
          <h2 class="mb-4">“With BrainIAK, not only can I do analyses in a fraction of the time, I can also do analyses I never thought possible before. In short, BrainIAK makes me a better person. (Just checking if you're actually reading...)”</h2>
          <p class="mb-4 text-muted">Cindy Smith, graduate student</p>
        </div>
      </div>
  </div>
</div>

<div class="block app-ribbon py-5">
  <div class="container text-xs-center">
    <img src="assets/img/startup-4.svg">
    <img src="assets/img/startup-5.svg">
    <img src="assets/img/startup-6.svg">
    <img src="assets/img/startup-7.svg">
    <img src="assets/img/startup-8.svg">
  </div>
</div>
